<h1>{{title}}</h1>

{{#if isEditing}}
	<form action="">
		<div class="form-group">
			<label for="title">Title</label>
			<!-- input helper with handlebars -->
			<!-- use to bind data to the property (propagates the entire app) -->
			<!-- everything is updated as you type -->
			{{input id="title" class="form-control" value=title}}
		</div>
		<div class="form-group">
			<label for="body">Body</label>
			{{textarea id="body" class="form-control" rows="15" value=body}}
		</div>

		<button class="btn btn-primary" {{action 'save'}}>Save</button>
	</form>

{{else}}
<p>{{body}}</p>
<button class="btn btn-primary" {{action "edit"}}>Edit</button>
<button class="btn btn-danger" {{action "delete"}}>Delete</button>
{{/if}}




<h2>Comments</h2>
{{#each comments}}
<p>{{text}}</p>
{{/each}}



<p>{{#link-to 'new-comment' this.id class="btn btn-default"}}New Comment{{/link-to}}</p>

{{outlet}}

